# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# repository
.expo
.turbo
*.temp.*
*.tsbuildinfo
node_modules
expo-env.d.ts
dist

# Native
/android
/ios
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
**/*-debug.log*
**/*-error.log*

# macOS
.DS_Store
*.pem

# local env files
.env*
!.env.example
